@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:wght@400;500;700;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mooli', sans-serif;
  background-color: lightgray;
}

h1 {
  text-align: center;
  margin-top: 24px;
  font-size: 100px;
  letter-spacing: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.turn {
  font-size: 3rem;
}

.game {
  /* background-color: gray; */
  width: 40%;
  max-width: 550px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  border: 2px solid black;
  border-left: none;
  border-top: none;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-b {
  border-bottom: none;
}

.no-r {
  border-right: none;
}

.info {
  display: flex;
  gap: 25px;
  padding: 10px;
}

.restart {
  padding: 1px 20px;
  background-color: rgb(117, 117, 204);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.restart:hover {
  color: white;
  background-color: rgb(85, 85, 138);
  transform: scale(1.02);
}